//output:customer.html, pretty: true
doctype html
head
	meta(charset='utf-8')
	link(href='https://fonts.googleapis.com/css?family=Questrial|Russo+One&display=swap' rel='stylesheet')
	script(src='https://kit.fontawesome.com/c7caeb49e9.js')
	link(rel='stylesheet' type='text/css' href='/./styles/customer.min.css')
	title Pcofthegod - Customer
body
	nav
		.logo
			a(href='#status' rel='internal')
				p Pcofthegod
		ul.nav-links
			a(onclick="pageViewer('status')")
				li Computer Status
			a(onclick="pageViewer('planAndParts')")
				li Plan and Parts
			a(onclick="pageViewer('contact')")
				li Contact
			a(onclick="pageViewer('buy')")
				li#status-button Buy Your PC
	section#status
		img(src='/./images/red gaming setup5.jpg' alt='Red gaming setup')
		h1 Computer Status
		.div-container
			.top
				.text-container
					p Read about us, how it works and pricing
					i.fas.fa-check
				.text-container
					p Plan your computer
					i.fas.fa-check
				.text-container
					p Send in your plan and create an account
					i.fas.fa-check
				.text-container
					p Your computer parts will be selected
					i.fas.fa-check
			.middle
				.text-container
					p You&apos;ll receive an email when your parts are selected
					i.fas.fa-check
				.text-container
					p Login to your account to view your parts &amp; price
					i.fas.fa-check
				.text-container
					p Message us for adjustments if necessary
					i.fas.fa-check
				.text-container
					p You buy your computer
					i.fas.fa-check
			.bottom
				.text-container
					p We order your parts
					i.fas.fa-check
				.text-container
					p We build your computer and get it up running
					i.fas.fa-check
				.text-container
					p Ships the computer
					i.fas.fa-check
				.text-container
					p You receive your custom built computer
					i.fas.fa-check
			.arrow-container
				.top
					i.fas.fa-chevron-right
					i.fas.fa-chevron-right
					i.fas.fa-chevron-right
				.middle
					i.fas.fa-chevron-left
					i.fas.fa-chevron-left
					i.fas.fa-chevron-left
				.bottom
					i.fas.fa-chevron-right
					i.fas.fa-chevron-right
					i.fas.fa-chevron-right
				i#down1.fas.fa-chevron-down
				i#down2.fas.fa-chevron-down
	section#planAndParts
		img(src='/./images/setup6.jpg' alt='Gaming setup')
		#plan.page
			h1 Plan
			ul
				li
					h3 Usecases :
					p= plan.gaming
				li
					h3 You choosed :
					p= plan.sliderOne
				li
					h3 You choosed :
					p= plan.sliderTwo
				li
					h3 Case size :
					p= plan.case
				li
					h3 Main color :
					p= plan.mainColor
				li
					h3 Second color :
					p= plan.secondColor
				li
					h3 Budget :
					p= plan.budget
				li
					h3 Game :
					p= plan.name
				li
					h3 Resolution :
					p= plan.resolution
				li
					h3 FPS :
					p= plan.fps
				li
					h3 Setting :
					p= plan.setting
				li
					h3 Comment :
					p= plan.comment
		#parts.page
			h1 Parts
			ul
				li
					h3 Case :
					p= parts.case
				li
					h3 Motherboard :
					p= parts.mb
				li
					h3 Processor :
					p= parts.cpu
				li
					h3 Cooler :
					p= parts.cooler
				li
					h3 Memory :
					p= parts.ram
				li
					h3 Graphic Card :
					p= parts.gpu
				li
					h3 HDD Storage :
					p= parts.hdd
				li
					h3 SSD Storage :
					p= parts.ssd
				li
					h3 Power Supply :
					p= parts.psu
				li
					h3 Cables :
					p= parts.cables
				li
					h3 Fans :
					p= parts.fans
				li
					h3 Leds :
					p= parts.leds
				li
					h3 OS :
					p= parts.os
				li
					h3 Extra :
					p= parts.extra
		#images.page
			h1 Images
			div
				img.mySlides(src='/./images/cpu.jpg')
				img.mySlides(src='/./images/case.jpg')
				div
					i#imageLeft.fas.fa-chevron-left(onclick='plusDivs(-1)')
					i#imageRight.fas.fa-chevron-right(onclick='plusDivs(1)')
					div
						span.demo(onclick='currentDiv(1)')
						span.demo(onclick='currentDiv(2)')
		button#pageLeft.fas.fa-chevron-left.pageSelectors(onclick='pageSelection(-1)')
		button#pageRight.fas.fa-chevron-right.pageSelectors(onclick='pageSelection(+1)')
	section#contact
		.contact
			.contact-div
				img#iphone(src='/./images/iphone.jpg' alt='Iphone')
				#call-text.contact-text
					i.fas.fa-phone-alt
					h3 Call Us
					h4 (+46) 72 336 53 00
			.contact-div
				img#mail(src='/./images/mail.jpg' alt='Mail')
				#email-text.contact-text
					i.far.fa-envelope
					h3 Email Us
					h4 Pcofthegod@gmail.com
			#footer
				img(src='/./images/red gaming setup5.jpg' alt='Red gaming setup')
				h1#main-name Pcofthegod
	section#buy
		h1 Buy Your Computer
script(type='text/javascript' src='/./scripts/customer.js')
